.header {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141D2F;
    padding: 37px 100px;
    
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    
}
.lang-switch {
    background-color: #9747FF;
}
.lang-div {
    width: 84px;
    height: 30px;
    border-radius: 14px;
    border: 1px solid #70E61C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    &:hover {
        border: 1px solid white;
        cursor: pointer;
        
    }
}
.lang-en {
    width: 44px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: lightgray;
    
    &:hover {
        color: white;
    }
    
}
.lang-de {
    width: 44px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    color: lightgrey;
    &:hover {
        color: white;
    }
    
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    left: 100%; 
    background-color: rgba(0,0,0,0.8); 
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.5s ease;
}

.overlay.active {
    left: 0; 
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.overlay-content a {
    color: white;
    font-size: 36px;
    text-decoration: none;
}

.overlay-content a:hover {
    color: #70E61C;
}

.no-scroll {
    overflow: hidden;
    }
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 29px;
    font-weight: 300;
    font-size: 23px;
    >a:hover {
            color:  #70E61C;
    }
}

.name-header {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    >a {
        display: flex;
        font-size: 24px;
       >p {
        color: #70E61C;
       }
    }

}



@media (max-width: 900px) {
    .navbar {
        >a {
            font-size: 16px;
        }
    }
    
}
@media (max-width: 800px) {
    .navbar {
        >a {
           display: none;
        }
    }
    .menu {
        display: flex;
        width: 24px;
        height: auto;
    }
    .header {
        padding: 37px 25px;
        
    }
    
}
@media (max-width: 400px) {
    .name-header {
        gap: 16px;
        >a {
            font-size: 16px;
       
        }
    }
    .lang-div {
        width: 72px;

    }
  
    
}

