section {
    background: #141D2F;
    display: flex;
    justify-content: center;
    width: 100%
  
}
.about-me-content {
    width: 1440px;
  display: flex;
  position: relative;
  justify-content: center;
  
   .location-img {
   min-width: 30px;
   min-height:  30px;
   &:hover {
    min-width: 35px;
    min-height:  35px;
  
   }
   }
   .lamp-img {
    min-width: 30px;
    min-height:  30px;
    &:hover {
        min-width: 35px;
        min-height:  35px;
      
       }

   }
   .puzzle-img {
    min-width: 30px;
    min-height:  30px;
    &:hover {
        min-width: 35px;
        min-height:  35px;
      
       }
   }
    
  
}
.left-section {
    padding: 40px 80px;
    font-weight: 300;
    width: 650px;
    
    z-index: 100;
    >h1 {
    font-size: 90px;
    font-weight: 600;
    text-align: left;
    }
    >p {
    font-size: 16px;
    text-align: left;

    }
}
.location {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    >img {
        width: 30px;
        height: auto;
    }
   
}
.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    >img {
        display: flex;
        align-items: flex-start;
    }
}

.bg {
    position: absolute;
   inset: 0;
   width: 100%;
   height: 100%;
   
    
}
.pb {
    position: relative;
   
}
.right-section {
    margin-top: 70px;
    display: flex;
    position: relative;
    width: 593px;
    height: 647px;
 
}
.skills-bg {
    position: absolute;
    
    display: none;
    
}


@media (max-width: 1250px) {
    .about-me-content {
       align-items: center;
        flex-direction: column-reverse;
    }
    .skills-bg {
        display: flex;
        position: absolute;
        top: 1451px;
    }
    
}

@media (max-width: 630px) {
    .left-section {
        padding: 20px 8px;
        margin-top: 40px;
        >h1 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        >p {
            font-size: 14px;
        }
    }
    .right-section {
        width: 366px;
        height: 400px;
    }
    .skills-bg {
        display: flex;
        position: absolute;
        top: 293px;
    }
    .left-section {
      width: 100%;
    }
}

@media (max-width: 1250px) and (min-height: 1081px) {
    .skills-bg {
        top: 1813px;

    }

}

@media (max-width: 630px) and (min-height: 1081px) {
    .skills-bg {
        top: 1569px;

    }

}
