<section class="about-me">
    <div class="about-me-content">
        <div class="left-section">
            <h1>{{ "About me" | translate}}</h1>
            <p>{{ "Hey there! I'm Jan, a frontend developer fueled by a passion for crafting user-friendly digital experiences. With a talent for problem-solving and an eye for detail, I specialize in translating complex ideas into elegant designs.Let's connect and create something amazing together!" | translate}}</p>
            
            <div class="info">
                <div class="location">
                    <img class="location-img" src="./assets/logo/location.png" alt="">
                    <p>{{ "Flexible in terms of working environments, I can work effectively both on-site and remotely." | translate}}
                    </p>
                </div>
                <div class="location">
                    <img class="lamp-img" src="./assets/logo/lamp.png" alt="">
                    <p>{{ "I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills." | translate}}</p>
                </div>
                <div class="location">
                    <img class="puzzle-img" src="./assets/logo/puzzle.png" alt="">
                    <p>{{ "In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges intosimple,user-friendly solutions." | translate}}
                    </p>
                </div>
            </div>
        </div>
        <div class="right-section">
            <img class="bg" src="./assets/img/bg-pb.png" alt="">
            <img class="pb" src="./assets/img/file.png" alt="">


        </div>


    </div>
    <img class="skills-bg" src="./assets/img/skills-background.png" alt="">

</section>