.header {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141D2F;
    padding: 37px 100px;
    max-width: 1440px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 29px;
    font-weight: 300;
    font-size: 23px;
    >a:hover {
            color:  #70E61C;
    }
}

.name-header {
    
    >a {
        display: flex;
        font-size: 24px;
       >p {
        color: #70E61C;
       }
    }

}


@media (max-width: 850px) {
    .navbar {
        >a {
            font-size: 16px;
        }
    }
    
}
@media (max-width: 650px) {
    .navbar {
        >a {
           display: none;
        }
    }
    .menu {
        display: flex;
        width: 24px;
        height: auto;
    }
    .header {
        padding: 37px 25px;
        
    }
    
}
@media (max-width: 400px) {
    .name-header {
        >a {
            font-size: 20px;
       
        }
    }
    
}

