<section class="above-the-fold">
    <img class="left-bg" src="./assets/img/left-purple.png" alt="">
    <img class="right-bg" src="./assets/img/right-bg.svg" alt="">
    <div class="above-the-fold-content">

        <div class="introduction">
            <div class="i-am">
                <p>I am</p>
            </div>
            <div class="name-job">
                <h1>Jan Thorwarth</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
        </div>
        <div class="above-the-fold-button">
            <button class="lets-talk">Let`s talk</button>
        </div>

        <div class="left-green-bar">
            <div class="bar"></div>
            <img src="./assets/logo/8. Github button.png" alt="">
            <img src="./assets/logo/9. Email button.png" alt="">
        </div>

        <div class="scroll-down-container">
            <p>Scroll down</p>
            <img src="./assets/logo/arrow-down-line.png" alt="">

        </div>


    </div>



</section>