.above-the-fold {
    background: #141D2F;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    

}

.left-bg {
    position: absolute;
    left: -240px;
    top: 130px
}
.right-bg {
    position: absolute;
    right: -465px;
    top: 50px;
}
.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.i-am {
    font-size: 90px;
    font-weight: 300;
    display: flex; 
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    
   
    
    >p {
        display: flex;
       
       
    }

}
.name-job {
    margin-right: 50px;
   
    >h1 {
    font-size: 128px;
    font-weight: 600;
    text-align: left;
    height: 163px;
    overflow-y: hidden;
    z-index: 100;
    position: relative;
    }
    >h2 {
    color: #9747FF;
    font-size: 64px;
   font-weight: 300;
    text-align: left;
    height: 116px;
    position: relative;
    }
}
.lets-talk {
    background-color: #70E61C;
    color: white;
    font-size: 23px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    
    &:hover {
        background-color: #9747FF;
        width: 170px;
        height: 70px;

    }
}
.above-the-fold-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    
}
.above-the-fold-content {
    height: 100vh;
    display: flex;
    width: 1440px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.bar {
    border: 2px solid #70E61C;
    width: 100px;
    height: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
    


.left-green-bar {
    flex-direction: row;
    align-items: center;
    gap: 42px;
    display: flex;
    position: absolute;
    height: 50px;
    
    left: 0;
    bottom: 0;
    >a {
        >img {
            cursor: pointer;
            &:hover {
                width: 40px;
                height: 40px;
        }
       
    

        }
    }
    
}
.scroll-down-container {
 display: flex;
    position: absolute;
    right: 0;
    bottom: 60px;
    transform: rotate(90deg); 
    gap: 3px;
    >img {
        width: 24px;
        transform: rotate(-90deg);
    }
   
}


@media (max-width: 1400px) {
    .left-bg {
        position: absolute;
        left: -240px;
        top: 70px;

    }
    
}


@media (max-width: 1230px) {
   .i-am {
    >p {
        font-size: 54px;
        margin-left: 42px;
        margin-top: 79px;
    
    }
   }
   .name-job {
    >h1 {
        font-size: 80px;
        height: 100px;
        
    }
    >h2 {
        font-size: 40px;
    }
   }
   .introduction {
    display: flex;
   }
    
}

@media (max-width: 1090px) {
    .left-bg {
        position: absolute;
        left: -240px;
        top: -69px;

    }
    
    
}


@media (max-width: 900px) {
    .i-am {
        >p {
            font-size: 32px;
            margin-left: 69px;
        }
        
        
       }
       .name-job {
        >h1 {
            font-size: 45px;
            height: 54px;
            
        }
        >h2 {
            font-size: 29px;
        }
       }
       .introduction {
        display: flex;
       }
       .right-bg {
        position: absolute;
        right: -550px;
        top: -92px;
        
       }
       .left-bg {
        position: absolute;
        left: -350px;
        
    }
    .above-the-fold-button {
        margin-top: 0;
       
    }
    
}
@media (max-width: 900px) {
    .scroll-down-container {
        display: none;
    }
   
}





@media (max-width: 550px) {
    .i-am {
        >p {
            font-size: 20px;
            margin-left: 82px;
            margin-top: 89px;
        
        
        }
       }
       .name-job {
        >h1 {
            font-size: 28px;
            height: 33px;
            
        }
        >h2 {
            font-size: 20px;
        }
       }
       .lets-talk {
        font-size: 16px;
       }
       .right-bg {
        position: absolute;
        right: -650px;
       
       }
       .left-bg {
        position: absolute;
        left: -450px;
        
    }
}

@media (max-width: 404px) {
    .right-bg {
        position: absolute;
        right: -650px;
       
       }
       .left-bg {
        position: absolute;
        left: -530px;
       
    }
    .introduction {
        flex-direction: column;
    }
    .i-am {
        transform: rotate(0);
        >p {
            height: fit-content;
            margin: 0;
           
            font-size: 40px;
        }
    }
    .name-job {
        margin: 0;
    }
}