<section class="about-me">
    <div class="about-me-content">
        <div class="left-section">
            <h1>About me</h1>
            <p>Hey there! I'm Jan, a frontend developer fueled by a <br> passion for crafting user-friendly digital
                experiences. With <br> a talent for problem-solving and an eye for detail, I <br> specialize in
                translating
                complex ideas into elegant designs. <br>
                <br>

                Let's connect and create something amazing together!
                <br>
                <br>
            </p>
            <div class="info">
                <div class="location">
                    <img src="./assets/logo/location.png" alt="">
                    <p>Flexible in terms of working environments, I can <br> work effectively both on-site and
                        <br>
                        remotely.
                    </p>
                </div>
                <div class="location">
                    <img src="./assets/logo/lamp.png" alt="">
                    <p> am open-minded and always looking for <br> personal challenges to constantly improve my <br>
                        knowledge and
                        skills.

                    </p>
                </div>
                <div class="location">
                    <img src="./assets/logo/puzzle.png" alt="">
                    <p>In my profession, programming isn't just about <br> writing code; it's a creative form of
                        problem- <br>solving. I take pride in my ability to distill complex <br> technical challenges
                        intosimple,user-friendly <br> solutions. This way, I help you achieve your goals <br>
                        and bring yourvisions to life.
                    </p>
                </div>
            </div>
        </div>
        <div class="right-section">
            <img class="bg" src="./assets/img/bg-pb.png" alt="">
            <img class="pb" src="./assets/img/hero character photo.png" alt="">

        </div>

    </div>

</section>