<section class="contact-section">
    <div class="headline">
        <h1>Contact</h1>
        <div class="line"></div>
    </div>
    <div class="problem">
        <div class="problem-solve-div">
            <div class="problem-solve">
                <div class="problem-line"></div>
                <h2>Got a problem to solve?</h2>
            </div>
            <div class="problem-text">
                <p>Contact me through this form, I am interested in hearing <br> from you, knowing your ideas and
                    contributing to
                    your <br> projects with my work.
                    <br>
                    <br>
                    Need a Frontend developer? <b>Contact me!</b>
                </p>
            </div>
        </div>
        <form class="contact-form">
            <input type="text" placeholder="Your name" class="input-field" required>
            <input type="email" placeholder="Your email" class="input-field" required>
            <textarea placeholder="Your message" class="input-field message-field" required></textarea>

            <div class="privacy-policy">
                <img src="./assets/img/checkbox-empty.png" alt="">
                <label for="privacy">I've read the <a href="#">privacy policy</a> and agree to the processing of my data
                    as
                    outlined.</label>
            </div>
            <button>Send message :)</button>
        </form>
    </div>




</section>