<section class="skills">
    <div class="skills-content">
        <img class="skills-bg" src="./assets/img/skills-background.png" alt="">
        <div class="left-section">
            <div class="skill-icons">
                <div class="html-icon">
                    <img src="./assets/skills/html.png" alt="">
                    <p>HTML</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/css.png" alt="">
                    <p>CSS</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/javascript.png" alt="">
                    <p>JavaScript</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/typescript.png" alt="">
                    <p>TypeScript</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/angular.png" alt="">
                    <p>Angular</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/firebase.png" alt="">
                    <p>Firebase</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/git.png" alt="">
                    <p>GIT</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/api.svg" alt="">
                    <p>Rest-Api</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/scrum.png" alt="">
                    <p>Scrum</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/material-design.png" alt="">
                    <p>Material <br> design</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/continually-learning.svg" alt="">
                    <p>Continually <br> learning</p>
                </div>
            </div>
        </div>
        <div class="skills-description">
            <div class="skills-header">
                <h2>Skills</h2>
                <div class="skills-bar"></div>
            </div>
            <p>My journey has involved working on diverse projects, <br> employing a range of frontend technologies and
                <br>
                concepts. I am open to embracing new technologies and <br> methodologies to Continously enhance my
                skills and

                stay <br> ahead in the ever-evolving landscape of web <br> development.
            </p>
            <h3>Looking for <span>another skill?</span></h3>
            <p>Feel free to contact me. I look forward to expanding <br> on my previous knowledge.</p>
            <button class="get-in-touch">Get in touch</button>
        </div>

    </div>

</section>