<section class="skills">
    <div class="skills-content">
        <img class="skills-bg" src="./assets/img/skills-background.png" alt="">
        <div class="left-section">
            <div class="skill-icons">
                <div class="html-icon">
                    <img src="./assets/skills/html.png" alt="">
                    <p>HTML</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/css.png" alt="">
                    <p>CSS</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/javascript.png" alt="">
                    <p>JavaScript</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/typescript.png" alt="">
                    <p>TypeScript</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/angular.png" alt="">
                    <p>Angular</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/firebase.png" alt="">
                    <p>Firebase</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/git.png" alt="">
                    <p>GIT</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/api.svg" alt="">
                    <p>Rest-Api</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/scrum.png" alt="">
                    <p>Scrum</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/material-design.png" alt="">
                    <p>Material <br> design</p>
                </div>

                <div class="html-icon">
                    <img src="./assets/skills/continually-learning.svg" alt="">
                    <p>Continually <br> learning</p>
                </div>



            </div>

        </div>
    </div>
</section>