<section class="portfolio">
    <div class="portfolio-content">
        <img class="portfilio-right-bg" src="./assets/img/portfilio-right-bg.png" alt="">
        <div class="portfolio-header">
            <div class="portfolio-bar"></div>
            <h1>Portfolio</h1>
        </div>
        <p>Explore a selection of my work here - Interact with projects <br> to see my skills in action.</p>
        <div class="projects">
            <img src="./assets/img/join.png" alt="">
            <img src="./assets/img/pollo-loco.png" alt="">
            <img src="./assets/img/pokedex.png" alt="">
            <img src="./assets/img/simple-crm.png" alt="">
        </div>
        <img class="portfilio-left-bg" src="./assets/img/portfolio-left.png" alt="">
    </div>


</section>