.portfolio {
    background: #141D2F;
    width: 1440px;
  position: relative;
}
.portfolio-content {
    
    >p {
        margin-left: 100px;
        font-size: 16px;
        font-weight: 300;
    }
}
.portfolio-bar {
    width: 68px;
    border: 2px solid #9747FF;
}
.portfolio-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 32px;

    >h1 {
        font-size: 90px;
        font-weight: 600;
    }
}
.projects {
    margin-top: 40px;
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 24px;

    >img {
        border: 1px solid #70E61C;
        border-radius: 15px;
        width: 600px;
        height: 600px;
        background-color: #141D2F;  
    }
}

.portfilio-right-bg {
    position: absolute;
    z-index: 10;
    right: 0;  
}

.bg-z {
    position: relative;
    z-index: 100;
}

.portfilio-left-bg {
    position: absolute;
    bottom: 0;
}



@media (max-width: 800px) {
    .portfolio-content {
        >p {
            position: relative;
            z-index: 100;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-left: 0;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    
    .portfilio-left-bg {
        bottom: -3850px;
    }
    .projects {
        >img {
            width: 300px;
            height: 300px;
        }
    }
    .portfolio-header {
        display: flex;
        justify-content: center;
        >h1 {
            font-size: 60px;
        }
    }
    .portfolio-bar {
        width: 200px;
    }
    .portfolio {
        position: static;
    }
    
}
@media (max-width: 530px) {
    .portfolio-header {
        >h1 {
            font-size: 40px;
        }
    }
    .portfolio-bar {
        width: 80px;
    }
}