<section class="portfolio">
    <div class="portfolio-content">
        <div class="portfolio-header">
            <div class="portfolio-bar"></div>
            <h1>Portfolio</h1>
        </div>
        <p class="portfolio-text">{{ "portfolioText" | translate }}</p>
        <div class="projects">
            <div class="project-card">
                <img src="./assets/img/pollo-loco.png" alt="Project Image" class="project-img">
                <div class="project-info">
                    <div class="buttons">
                        <a href="https://github.com/JanThorwarth/El-Pollo-Loco">

                            <button class="github-btn">Github</button>
                        </a>
                        <button class="live-btn">Live test</button>
                    </div>
                    <div class="bg-text">
                        <h2 class="project-title">El Pollo Loco</h2>
                        <p class="project-description">{{ "Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen." | translate }}</p>
                        <p class="project-tech">JavaScript | HTML | CSS</p>
                    </div>
                </div>
            </div>
            <div class="project-card">
                <img src="./assets/img/join.png" alt="Project Image" class="project-img">
                <div class="project-info">
                    <div class="buttons">
                        <a href="https://github.com/AxelZimmermann-HH/Join">
                            <button class="github-btn">Github</button>
                        </a>
                        <button class="live-btn">Live test</button>

                    </div>
                    <div class="bg-text">
                        <h2 class="project-title">Join</h2>
                        <p class="project-description">{{ "Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories." | translate }} </p>
                        <p class="project-tech">Angular | TypeScript | HTML | CSS | Firebase </p>
                    </div>
                </div>
            </div>
            <div class="project-card">
                <img src="./assets/img/simple-crm.png" alt="Project Image" class="project-img">
                <div class="project-info">
                    <div class="buttons">
                        <button class="github-btn">Github</button>
                        <button class="live-btn">Live test</button>
                    </div>
                    <div class="bg-text">
                        <h2 class="project-title">Simple CRM</h2>
                        <p class="project-description">{{ "A very Simple Customer Relationship Management system working with CRUD functionality." | translate }}</p>
                        <p class="project-tech">Angular | Firebase</p>
                    </div>
                </div>
            </div>
            <div class="project-card">
                <img src="./assets/img/pokedex.png" alt="Project Image" class="project-img">
                <div class="project-info">
                    <div class="buttons">
                        <a href="https://github.com/JanThorwarth/Pokedex">
                            <button class="github-btn">Github</button>
                        </a>
                        <button class="live-btn">Live test</button>

                    </div>
                    <div class="bg-text">
                        <h2 class="project-title">Pokédex</h2>
                        <p class="project-description">{{ "Based on the PokéAPI a simple library that provides and catalogues pokemon information." | translate }}</p>
                        <p class="project-tech">JavaScript | HTML | CSS | Api</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>