.above-the-fold {
    background: #141D2F;
    width: 1440px;
    height: 100vh;
    position: relative;

}
.left-bg {
    position: absolute;
    left: -240px;
    top: 130px
}
.right-bg {
    position: absolute;
    right: -465px;
    top: 50px;
}
.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.i-am {
    font-size: 90px;
    font-weight: 300;
    display: flex; /* inline-flex sorgt dafür, dass die Höhe nur so groß ist wie der Inhalt */
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg); /* Rotiert den Text um 90 Grad */
   
    
    >p {
        display: flex;
        overflow-y: hidden;
        height: 100px;
    }

}
.name-job {
   
    >h1 {
    font-size: 128px;
    font-weight: 600;
    text-align: left;
    height: 163px;
    overflow-y: hidden;
    z-index: 100;
    position: relative;
    }
    >h2 {
    color: #9747FF;
    font-size: 64px;
   font-weight: 300;
    text-align: left;
    height: 116px;
    }
}
.lets-talk {
    background-color: #70E61C;
    color: white;
    font-size: 23px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.above-the-fold-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}
.above-the-fold-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bar {
    border: 2px solid #70E61C;
    width: 100px;
    height: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}
.left-green-bar {
    flex-direction: row;
    align-items: center;
    gap: 42px;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    
}
.scroll-down-container {
 display: flex;
    position: absolute;
    right: 0;
    bottom: 60px;
    transform: rotate(90deg); 
    gap: 3px;
    >img {
        width: 24px;
        height: auto;
        transform: rotate(-90deg); 
    }
}