<section class="start">
    <div class="layout">
        <img class="start-purple" src="../../assets/img/Purple shadow about me.png" alt="">
        <img class="start-blue" src="../../assets/img/52. Blue shadow 1 V2.svg" alt="">

        <div class="introduction">
            <div class="i-am">
                <span>I am</span>
            </div>
            <div class="name-job">
                <span class="start-name">Jan Thorwarth</span>
                <span class="start-job"> FRONTEND DEVELOPER</span>
            </div>
        </div>
        <div class="btn-div">
            <button>Let`s talk!</button>
        </div>
    </div>
    <div class="left-line-icons">
        <div class="green-line"></div>
        <div class="icons">
            <img src="../../assets/logo/8. Github button.png" alt="">
            <img src="../../assets/logo/9. Email button.png" alt="">
        </div>
    </div>

    <div class="scroll-down">
        <span>Scroll down</span>
        <img src="../../assets/logo/arrow-down-line.png" alt="">

    </div>




</section>