<section class="comments-section">
    <div class="comments">

        <div class="text-img">
            <img class="exclamation-mark" src="./assets/img/exclamation-mark.png" alt="">
            <div class="text-container">


                <div class="text">
                    <p>{{ comments[currentCommentIndex].message | translate }}</p>
                </div>
                <div class="name">
                    <div class="comment-line"></div>
                    <p>{{ comments[currentCommentIndex].name }}</p>
                </div>

            </div>


            <div class="img">
                <img [src]="comments[currentCommentIndex].img" alt="">
                <div class="line"></div>
            </div>




        </div>
        <div class="select-comments-div">
            <div class="select-comments">
                <img (click)="prevComment()" src="./assets/img/left-arrow.png" alt="">
                <div [ngClass]="{'active': currentCommentIndex === 0}" class="point-1"></div>
                <div [ngClass]="{'active': currentCommentIndex === 1}" class="point-2"></div>
                <div [ngClass]="{'active': currentCommentIndex === 2}" class="point-3"></div>
                <img (click)="nextComment()" src="./assets/img/right-arrow.png" alt="">
            </div>

        </div>
    </div>
</section>