<section class="imprint-section">
    <div>
        <h1>Impressum</h1>
        <h2 id="m46">Dienstanbieter</h2>
        <p>Jan Thorwarth</p>
        <p>Korker Waldstraße 17</p>

        <h2 id="m56">Kontaktmöglichkeiten</h2>
        <p>E-Mail-Adresse: <a href="mailto:thorwarth.jan@web.de">thorwarth.jan&#64;web.de</a></p>
        <p>Telefon: 017645788201</p>

        <p class="seal"><a href="https://datenschutz-generator.de/"
                title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
                rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
                Schwenke</a>
        </p>
    </div>
</section>