.contact-section {
    width: 100%;
    background: #141D2F;
    position: relative;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
   
    

}

.contact-content {
    width: 1440px;
}
.headline {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 100;
    >h1 {
        font-family: 'Poppins';
        font-size: 90px;
        font-weight: 700;
        text-align: center;
    }
}
.line {
    border: 2px solid #70E61C;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 500px;
}
.problem-line {
    border: 2px solid #1CDAE6;
    width: 68px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    

}
.contact-error {
    color: red;
    font-weight: 200;
    width: 600px;
}
.problem {
    display: flex;
    justify-content: space-between;

    flex-direction: row;
   
    >h2 {
        
    font-size: 32px;
    font-weight: 500;
    text-align: left;

    }
}
.problem-solve-div {
    display: flex;
    flex-direction: column;
}
.problem-solve {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 32px;
}
.problem-text {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 300;
    margin-left: 100px;
    width: fit-content;

}


.contact-form {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 650px;
    padding: 20px;
    margin-right: 80px;
    z-index: 100;
    >button  {
        margin-top: 24px;
        padding: 15px 30px;
        border-radius: 10px;
        font-weight: 300;
        font-size: 23px;
        border: none;
        cursor: pointer;
    }
    >span {
        font-size: 14px;
    }
}
.hoverable:hover {
    background-color: #9747FF !important;
     width: 285px;
    height: 70px;
}

.input-field {
    width: 100%;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    background: #141D2F;
    border: 1px solid #9747FF;
    border-radius: 10px;
    outline: none;
    &:hover {
        border: 1px solid #1CDAE6;
        cursor: pointer;
    }
   
}

.green-border {
    border: 1px solid #70E61C;
}

.input-field::placeholder {
    color: white; /* Placeholder in Grau */
}

.input-field:focus {
    border-color: #9747FF; /* Lila Umrandung beim Fokus */
}

.message-field {
    height: 150px;
    resize: none;
}

.privacy-policy {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #fff;
    >img {
        display: block;
        align-items: center;
        justify-content: center;
        min-width: 24px;
        min-height: 24px;
        cursor: pointer;
        &:hover {
            background: #183771;
            border-radius: 50%;
          



        }
      
    }
}
.red-border {
    border: 1px solid red;
}





.privacy-policy a {
    color: #9747FF; /* Link für die Datenschutzrichtlinie in Lila */
    text-decoration: none;
}

.privacy-policy a:hover {
    text-decoration: underline;
}
.up-button {
    background: #141D2F;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-bottom: 60px;
    z-index: 100;
   
    >img {
        position: relative;
        z-index: 100;
        cursor: pointer;
        &:hover {
            content: url("/assets/img/up-button-green.png");
        }
      
    }
  
}
.contact-bg {
    position: absolute;
    right: -100px;
    top: -50px;
    z-index: 99;

    
}

@media (max-width: 1250px) {
    .problem {
        flex-direction: column;
        align-items: center;
    }
    .contact-form {
        margin: 0;
    }
    .contact-bg {
        right: -200px;

    }
    .headline {
        justify-content: center;
        >h1 {
            position: relative;
            z-index: 100;
            background: #141D2F;

        }
    }
    .line {
        position: absolute;
        right: 0;
        max-width: 300px;
        z-index: -1;
    }
    .problem-solve {
        justify-content: center;
    }
    .problem-text {
        margin-left: 0;
    }

}

@media (max-width: 800px) {
    .contact-bg {
        top: 300px;

    }
    .headline {
      
        >h1 {
            font-size: 60px;
        }
    }
    .problem-text {
        margin-left: 0;
        padding: 24px;
    }
    .contact-bg {
        right: -300px;
    }
    .line {
        width: 280px;
    }

}
@media (max-width: 420px) {
    .problem-solve {
        >h2 {
            font-size: 16px;

        }

    }
    .line {
        width: 200px;
    }
    .contact-bg {
        right: -450px;
    }
    .contact-form {
        >button {
            font-size: 16px;

        }
    }
    .up-button {
        margin-right: 24px;
    }

}


