<section class="contact-section">
    <div class="contact-content">
        <div class="headline">
            <h1>Contact</h1>
            <div class="line"></div>
        </div>
        <div class="problem">
            <div class="problem-solve-div">
                <div class="problem-solve">
                    <div class="problem-line"></div>
                    <h2>{{ "contactHeadline" | translate }}</h2>
                </div>
                <div class="problem-text">
                    <p>{{ "contactText" | translate }}
                        <br>
                        <br>
                        {{ "contactFrontend" | translate }} <b>{{ "contactContact" | translate }}</b>
                    </p>
                </div>
            </div>
            <form (ngSubmit)="onSubmit(contactForm)" class="contact-form" #contactForm="ngForm">
                <input
                    [ngClass]="{'red-border': !name.valid && name.touched, 'green-border': name.valid && name.touched}"
                    minlength="4" #name="ngModel" [(ngModel)]="contactsData.name" name="name" type="text"
                    [placeholder]="'contactName' | translate" class="input-field" required>
                @if (!name.valid && name.touched) {
                <span class="contact-error">{{ "nameRequired" | translate }}</span>
                }
                <input
                    [ngClass]="{'red-border': !email.valid && email.touched, 'green-border': email.valid && email.touched}"
                    #email="ngModel" [(ngModel)]="contactsData.email" name="email" type="email"
                    [placeholder]="'contactMail' | translate" class="input-field" required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                @if (!email.valid && email.touched) {
                <span class="contact-error">{{ "mailRequired" | translate }}</span>
                }
                <textarea
                    [ngClass]="{'red-border': !message.valid && message.touched, 'green-border': message.valid && message.touched}"
                    #message="ngModel" [(ngModel)]="contactsData.message" minlength="4"
                    [placeholder]="'contactMessage' | translate" class="input-field message-field" name="message"
                    required></textarea>
                @if (!message.valid && message.touched) {
                <span class="contact-error">{{ "messageRequired" | translate }}</span>

                }

                <div class="privacy-policy">
                    <img (click)="acceptPolicy()" [src]="ImgSrc" alt="">
                    <label for="privacy">{{ "ppStart" | translate }} <a href="privacyPolicy">{{ "pp" |translate }}</a>
                        {{ "ppEnd" |translate }}</label>
                </div>

                <button class="button" [ngClass]="{'hoverable': ImgSrc === './assets/img/checkbox-checked.png' }"
                    [ngStyle]="{'background-color': ImgSrc === './assets/img/checkbox-checked.png' ? '#70E61C': '#B6B6B6'}">{{
                    "contactBtn" | translate }}</button>

            </form>
            <img class="contact-bg" src="./assets/img/contact-bg.png" alt="">



        </div>
        <div class="up-button">
            <img (click)="goToTop()" src="./assets/img/up-button.png" alt="">
        </div>

    </div>


</section>