<section class="footer-section">
    <div class="line"></div>
    <footer class="footer">
        <div class="name-left">
            <h1>J <p>a</p>n</h1>
            <div class="underline">
                <a href="imprint">Legal Notice</a>
            </div>
        </div>
        <div class="name-middle">
            <p>© Jan Thorwarth 2024</p>
        </div>
        <div class="logo-right">
            <img src="./assets/logo/8. Github button.png" alt="">
            <img src="./assets/logo/9. Email button.png" alt="">
        </div>
    </footer>
</section>