<section class="comments-section">
    <div class="comments">
        <img class="exclamation-mark" src="./assets/img/exclamation-mark.png" alt="">
        <div class="text-img">
            <div class="text-container">
                <div class="text">
                    <p>Michael really kept the team together with his great organization <br>and clear communication.
                        We
                        wouldn't
                        have got this far without his commitment.</p>
                </div>
                <div class="name">
                    <div class="comment-line"></div>
                    <p>V.Schuster - Team Partner</p>
                </div>
            </div>

            <div class="img">
                <img src="./assets/img/schuster.png" alt="">
                <div class="line"></div>
            </div>



        </div>
        <div class="select-comments-div">
            <div class="select-comments">
                <img src="./assets/img/left-arrow.png" alt="">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <img src="./assets/img/right-arrow.png" alt="">
            </div>

        </div>
    </div>
</section>